# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/

# Env files
config/env/
*.env

# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile

# IDEs
.vscode/
.idea/

# Tests
tests/

# Migrations (source only)
migrations/

# Logs
*.log
